<html>
<head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/scripts.js"></script>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
    <style>
        body {
            background-color: #020b15;
        }
        img.logo{
            display: block;
            margin-left: auto;
            margin-right: 30%;
        }
         img.centered{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .tekst{
            color: #e6f2ff; /* #9999ff*/
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        }
        t{
            color: #e6f2ff;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        }
        .przycisk{
            background-color: #001233;
            border: 1px solid #00001a;
            padding: 15px 20px;
            border-radius: 4px;
            color: #1a75ff;
        }
        .przycisk:hover {
            background-color:#46a049; /*#4CAF50;  Green */
            color: white;
        }
        .pole{
            background-color: #f2f2f2;
            border-radius:4px;
        }

        .przycisk_gra{
            background-color: #001233;
            border: 1px solid #00001a; 
            padding: 15px 20px;
            border-radius: 4px;
            color: #1a75ff;
        }
        .przycisk_gra:hover {
            background-color: #173518; /* #092f4b; #334d4d; #262626; #4CAF50;  Green */
            color: white;
        }
    </style>
</head>
<body>

    <script>
        $(document).ready(function(){
            console.log("hide_show.register_menu")
            if("<%= hide_show.register_menu %>" == "show_with_error")
                {$("#rejestracja_blad").show();}
        //	$("#rejestracja_formularz").hide();
            $("#rejestracja_przycisk").click(function(){
                if($("#logowanie_formularz").is(":visible"))
                {
                        $("#logowanie_formularz").hide();
                } 
                $("#rejestracja_formularz").toggle();
            });
            $("#logowanie_przycisk").click(function(){
                if($("#rejestracja_formularz").is(":visible"))
                {
                        $("#rejestracja_formularz").hide();
                } 
                $("#logowanie_formularz").toggle();
            });
            if("<%= hide_show.logowanie_menu %>" == "show_with_error")
                {$("#logowanie_blad").show();}
            if("<%= hide_show.logIn_menu %>" == "niezalogowany")
                {$("#niezalogowany_alert").show();}
            if("<%= hide_show.logowanie_menu %>" == "show_with_error_NO_USER")
                {$("#niezalogowany_alert_NO_USER").show();}
            if("<%= hide_show.zalogowanie %>" == "zalogowany")
                {$("#logowanie_rejestracja").hide(); $("#zalogowanie").show();}
            if("<%= hide_show.register_menu %>" == "not_matching")
                {$("#rejestracja_blad_hasla").show();}
            if("<%= hide_show.register_menu %>" == "register_complete")
                {$("#rejestracja_zakonczona").show();}
        })
    </script>
    <aside style="float:right">
        <div id="logowanie_rejestracja" align="right">
             <button id="logowanie_przycisk" class="przycisk"> <t> Logowanie </t> </button><button id="rejestracja_przycisk" class="przycisk"><t> Rejestracja </t></button>
        </div>
        <div id="zalogowanie"style="display:none"> <t><%= username %></t> <button class="przycisk" id="wyniki_przycisk" onclick = "wyniki_carcassonne()"> <t> Statystyki </t></button> <button class="przycisk" id="wylogowanie_przycisk" onclick = "logOut()"> <t> Wyloguj </t></button></div>

        <div align="right" id="logowanie_blad" style="color:red;display:none"> Nieudana próba logowania. </div>
            <div align="right" id="niezalogowanie_alert" style="color:red;display:none"> Zaloguj się by móc grać. </div>
            <div align="right" id="niezalogowanie_alert_NO_USER" style="color:red;display:none"> Użytkownik o podanym loginie nie istnieje. </div>
            <div align="right" id="logowanie_formularz" style="display:none">
            <form method="POST" action="logIn">
                <table>
                <tr><td><div align="right" class="tekst">Nazwa użytkownika:</div></td></tr>
                <tr><td><input type="text" class="pole" name='nazwa' maxlength="20"/></td></tr>
                <tr><td><div align="right" class="tekst">Hasło:</div></td></tr>
                <tr><td><input type="password"class="pole" name='haslo' maxlength="30"/></td></tr>
            </tr><td><input class="przycisk"  type="submit" formmethod="post"  value="Zaloguj się"/></td></tr>
            </table>
            </form>
        </div>

            <div align="right" id="rejestracja_blad" style="color:red;display:none"> Nieudana próba rejestracji. </div>
            <div align="right" id="rejestracja_blad_hasla" style="color:red;display:none"> Hasła nie zgadzają się.</div>
            <div align="right" id="rejestracja_zakonczona" style="color:green;display:none"> Zarejestrowano nowego użytkownika.</div>
                <div align="right" id="rejestracja_formularz" style="display:none">
                <form method="POST" action="register">
                    <table>
                    <tr><td><div align="right" class="tekst">Nazwa użytkownika:</div></td></tr>
                    <tr><td><input type="text" class="pole" name='nazwa' maxlength="20"/></td></tr>
                    <tr><td><div align="right" class="tekst">Hasło:</div></td></tr>
                    <tr><td><input type="password" class="pole" name='haslo' maxlength="30"/></td></tr>
                    <tr><td><div align="right" class="tekst">Powtórz hasło:</div></td></tr>
                    <tr><td><input type="password" class="pole" name='potwierdz_haslo' maxlength="30"/></td></tr>
                </tr><td><div align="right"><input class="przycisk" type="submit" formmethod="post"  value="Zarejestruj"/></div></td></tr>
                </table>
                </form>
            </div>

    </aside>
<section>
   <img onclick = "na_glowna()" src="./zasoby/grajselogo.png" alt="grajse" class="logo"  style="width:480";>
    <br></br>
    <br></br>
    <br></br>
    <div align="center"> <button class="przycisk_gra" onclick="roomsListCarcassonne()"><font size="4" > <img src="./zasoby/icons/logo_carcassonne_only.png" alt="Carcassonne" class="centered"  > </button> </div>
</section>

</body>
</html>
