<!DOCTYPE html>
<html>
<head>
  
</head>

<body>



<div class="container">
<h2>Database Results</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.black_name %> - <%= r.black_points %> - <%= r.blue_name %> <%= r.blue_points %> <%= r.green_name %> <%= r.green_points %> <%= r.red_name %> <%= r.red_points %> <%= r.white_name %> <%= r.white_points %> <%= r.yellow_name %> <%= r.yellow_points %></li>
    <% }); %>
</ul>

</div>

</body>
</html>
