<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<script src="/socket.io/socket.io.js"></script>
<script src="/scripts.js"></script>
<style>
html, body {
	height: 100%;
	overflow: hidden;
	margin: 0px
}

div.container {
    width: 100%;
	height: 100%;
    border: 1px solid gray;
    background-image: url("./tlo-deski-duze.png");
}

div.h {
    color: white;
    background-color: black;
    text-align: center;
    height: 30%
    margin: 0px
}

footer {
	color: white;
    background-color: black;
    clear: left;
    text-align: center;
	height: 5%;
	
}
	
div.bigmenu {
	float: left;
	width: 40%;
	margin-left: 10%;
	overflow: hidden;
	background-image: url("./perg.png");
	background-size: cover;
	height: 95%;
	text-align: center;
	
}

div.menu {
    width: 80%;
    margin: 10%;
    margin-top: 20%;
    overflow: auto;
    background-color: transparent
	height: 80%;
	text-align: center;
}

img.p {
	width: 100%;
	height: 10%;
}

div.logo {
   position: absolute;
    top: 40%;
    left: 75%;
    transform: translateX(-50%) translateY(-50%);
}

</style>
</head>


<body scroll = "no" link="#583b27" vlink="#583b27" alink="#583b27">

<div id = "cont" class="container">

 
<div id="bigmenu" class = "bigmenu">
	<div class = "menu">
		<h1> Lista komnat</h1>
		<a href="#" onclick="createRoom()">Otwórz własną komnatę</a>
		<div align="center">
			<table>
			<tr> <td><img src="./black.png"></td> <td><img src="./blue.png"></td> <td><img src="./green.png"></td> <td><img src="./red.png"></td> <td><img src="./white.png"></td> <td><img src="./yellow.png"></td> </tr>
				<% results.forEach(function(r) { %>
				<tr>
      <td>  <%= r.black_name %> </td>  <td><%= r.black_points %> </td> <td> <%= r.blue_name %> </td> <td> <%= r.blue_points %> </td> <td> <%= r.green_name %> </td> <td> <%= r.green_points %> </td> <td> <%= r.red_name %> </td> <td> <%= r.red_points %> </td> <td> <%= r.white_name %> </td> <td> <%= r.white_points %> </td> <td> <%= r.yellow_name %> </td> <td> <%= r.yellow_points %> </td> </tr>
    <% }); %>
			</table>
		</div>
	</div>
</div>
	<div class = "logo">
		<img src = "./loggo.png">
	</div>

<footer>
We do not own Carcassonne nor any of pictures used on this page. This is a students' project, from which we take no profit.
</footer>

</div>

</body>
</html>

